{% extends "base.html" %}

{% block title %}<title>{{ site.name }}: Log In</title>{% endblock %}

{% block content %}
<h1>Log In</h1>

{% if form.has_errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action=".">

<div style="margin-top: 0.375em">
<label for="id_username">Username:</label><br/>
{{ form.username }}
</div>

<div style="margin-top: 0.75em">
<label for="id_password">Password:</label><br/>
{{ form.password }}
</div>

<div style="margin-top: 0.75em; margin-bottom: 0.375em">
<input type="submit" value="Log In"/>
</div>

<div>
<input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

<div>
<p>Not a member? [<a href="/accounts/register/">Register for a free account!</a>]</p>
<p>[<a href="/accounts/password/reset/">Forgot Password?</a>]</p>
</div>

{% endblock %}
