<h2>New Rules</h3>

<p>All rules in the following sections/subsections are either new or updated, and need further testing. Each new rule is also marked as such in the Sitewide and Page Reports.</p>

<h3>Navigation</h3>
<ul>
  <li>Titles</li>
  <li>Subheadings</li>
  <li>Navigation Bars</li>
  <li>Form Control Labels</li>
  <li>Default Language</li>
  <li>Frames</li>
</ul>

<h3>HTML Standards</h3>
<ul>
  <li>W3C Specifications</li>
</ul>

<h2>Other New Features</h2>
<ul>
<li>Report management: selecting a report to view in &apos;Archived Reports&apos;; marking reports for permanent archiving, unmarking to allow for deletion in &apos;Manage Reports&apos;</li>
<li>Account management: registration, login, and entering profile information under 'My Account'</li>
</ul>

<h2>Testing Guidelines</h2>

<p>During the beta testing phase, it&apos;s important to note the following:</p>
<ul>
  <li>As new beta versions of FAE are made available leading up to the release of 1.0, rules will change &#8212; new rules will be added, and existing rules may be modified. This means that reports run with a previous beta version may not display properly in the current or subsequent versions.</li>
  <li>To avoid incompatibilities as rules are added and modified, the reports database will be purged when new beta versions are released. This will include reports that are marked for permanent archiving.</li>
</ul>
