<p>Rules for tests in the Functional Accessibility Evaluator (FAE) are based
on <a class="external" href="http://bestpractices.cita.uiuc.edu/html/">CITES/DRES
HTML Best Practices</a>, which describe techniques that can be used for
implementing WCAG and Section 508 requirements.</p>

<p>Please be aware of the following limitations in the use of FAE:</p>

<ol>
<li>The set of rules currently derived from the CITES/DRES HTML Best Practices
are incomplete, and not all of these rules have associated tests in FAE.</li>
<li>FAE and its test components may not be able to interpret all markup; we
recommend that people validate their documents to improve the ability of FAE
to intepret markup.</li>
<li>Web pages may be accessible or conform to WCAG or Section 508 requirements
and still may fail the tests used by FAE for evaluating functional
accessibility.</li>
<li>The use of FAE does not replace accessibility testing with persons with
disabilities. We feel FAE is useful for identifying obvious functional
accessibility issues, but we encourage further testing with persons with
disabilities to verify the accessibility of a web site.</li>
</ol>
