<ol>
<li>Improve the accuracy of tests in detecting and reporting functional accessibility problems as implemented by the <a class="external" href="http://html.cita.illinois.edu/">iCITA HTML best practices</a>.</li>
<li>Improve the reporting capabilities to provide FAE results that are useful to:
  <ol>
  <li><strong>Managers</strong> making decisions on how to allocate resources for improving accessibility;</li>
  <li><strong>Developers</strong> to understand what needs to be changed within a web site and on individual pages to improve accessibility;</li>
  <li><strong>General public (including people with disabilities)</strong> to report to webmasters the functional accessibility problems of their web resources.</li>
  </ol>
</li>
<li>Provide a web services interface to FAE so automation tools that can navigate password-protected web resources (such as browser toolbar add-ons) can communicate with FAE.</li>
<li>Provide a comparison mechanism so two different FAE reports can be compared for accessibility differences or the same web resource can be measured over time for improvements in accessibility.</li>
</ol>
