{% load href_lookup %}

<h2>What is FAE?</h2>

<p>The Functional Accessibility Evaluator (FAE) analyzes web pages for markup that is consistent with the use of <a class="external" href="{% href_lookup best_practices %}">iCITA HTML Best Practices</a> for the development of functionally accessible web resources that also support interoperability.</p>

<p>The iCITA HTML Best Practices are not a new standard, but rather a statement of techniques for implementation of the W3C <a class="external" href="{% href_lookup wcag %}">Web Content Accessibility Guidelines (WCAG)</a>, the United States Federal Government <a class="external" href="{% href_lookup section_508 %}">Electronic and Information Technology Accessibility Standards (Section 508)</a> and the <a class="external" href="{% href_lookup iitaa_home %}">Illinois Information Technology Accessibility Act (IITAA)</a>. Following the best practices in developing web resources not only improves accessibility for people with disabilities, but also improves interoperability, giving everyone the benefit of having more options for accessing and using those resources.</p>

<a id="running_the_evaluator"></a>
<h2>Running the Evaluator</h2>

<p>The &ldquo;Run FAE&rdquo; page provides a form for specifying the following analysis parameters:</p>

<dl>
<dt>URL</dt>
<dd>Specifies the URL that will serve as the starting point of the analysis. Depending on the &ldquo;Depth of Evaluation&rdquo; and &ldquo;Follow Links in&rdquo; settings (described below), additional pages linked from the starting URL may also be included in the analysis.</dd>

<dt>Report Title</dt>
<dd>The title to be displayed at the top of each report page. If no title is specified, then &ldquo;Untitled Report&rdquo; is displayed.</dd>

<dt>Depth of Evaluation</dt>
<dd>When &ldquo;Top-level page only&rdquo; is selected, only the page specified by the URL will be analyzed.</dd>
<dd>&ldquo;Include second-level pages&rdquo; will cause all pages linked from the top-level page (with domain restrictions as explained below) to be included in the analysis.</dd>
<dd>&ldquo;Include third-level pages&rdquo; will cause all pages linked from the top- and second-level pages (with domain restrictions as explained below) to be included in the analysis.</dd>

<dt>Follow Links in</dt>
<dd>In cases where &ldquo;Depth of Evaluation&rdquo; is set to either &ldquo;Include second-level pages&rdquo; or &ldquo;Include third-level pages&rdquo; the web crawler used by FAE can follow links in two different ways:</dd>
<dd>When &ldquo;Specified domain only&rdquo; is selected, link following is restricted to the same domain as the specified URL.</dd>
<dd>When &ldquo;Next-level subdomains&rdquo; is selected, links that are in subdomains of the next-level domain (relative to the domain specified by the URL) will also be followed.</dd>

{% if enable_dhtmlget %}
<dt>Include DHTML content</dt>
<dd>When this option is selected, FAE uses an iCITA-developed utility named DHTMLGET to download web resources. As it downloads each HTML page, DHTMLGET invokes any JavaScript &ldquo;onload&rdquo; event handlers and inline scripting it finds, using its built-in JavaScript interpreter, which adds corresponding dynamic HTML (DHTML) content to the page. DHTMLGET then saves the resulting Document Object Model (DOM) for evaluation by FAE.</dd>
<dd>Please note that selecting this option may result in slightly or, in some cases, significantly longer evaluation times, especially when &ldquo;Depth of Evaluation&rdquo; includes second- and third-level pages. However, to the extent that pages include significant amounts of DHTML content, the coverage and accuracy of the evaluation is improved.</dd>
<dd>When this option is not selected, FAE uses a modified version of the GNU wget utility, which does not include a JavaScript interpreter. (The wget utility has been used in all versions of FAE prior to 1.1.) When wget is used, FAE analyzes exactly what the server sends as its HTTP response. This means that &ldquo;onload&rdquo; and inline DHTML content, if present on a page, is not included in the evaluation.</dd>
{% endif %}
</dl>

<p>After successfully completing the analysis, FAE displays the Summary Report, which provides a high-level view of the evaluation results, and places a link to this report in the Archived Reports list. This list includes additional report information such as the analysis date/time, the number of pages analyzed, the report title, the starting URL and the depth of evaluation.</p>

<h2>Analysis Categories</h2>

<p>FAE organizes the analysis of documents based on the following categories:</p>

<dl>
<dt>Navigation &amp; Orientation:</dt>
<dd>Inclusion of structural markup that facilitates navigation and contextual orientation;</dd>

<dt>Text Equivalents:</dt>
<dd>Proper use of images for interoperability and the provision of text descriptions for non-text content;</dd>

<dt>Scripting:</dt>
<dd>Avoidance of scripting techniques that compromise accessibility and interoperability;</dd>

<dt>Styling:</dt>
<dd>Use of CSS styling techniques to separate content and structural information from styling and presentation;</dd>

<dt>HTML Standards:</dt>
<dd>Support for HTML standards to improve interoperability and provide more choices in the use of technologies for rendering web content.</dd>
</dl>

<h2>Data Export</h2>

<p>After running a report or selecting one from Archived Reports, a &apos;Download XML&apos; link is now provided in the report navigation menu. Selecting this link will result in the download of an XML data file containing information similar to the Sitewide Report.</p>

<p>The XML data file contains meta information such as report title and timestamp, a list of all pages that were evaluated, and for each rule, the rule description and the number of pages with evaluation result of Pass, Warn, Fail or N/A. Additionally, for each rule/result of Warn or Fail, the data includes the list of pages with that result.</p>

<h2>FAE Rulesets</h2>

<p>The current ruleset version is <strong>{{ ruleset }}</strong>.</p>

<p>While we try to maintain as much stability as possible regarding the rules on which FAE analysis and evaluation are based (<a class="external" href="{% href_lookup best_practices %}">iCITA HTML Best Practices</a>), that set of rules is, by its nature, dynamic. As more is learned about the functional accessibility of Web resources, the ruleset is updated to reflect the most recent knowledge.</p>

<p>The report header indicates the ruleset version that was in use by FAE when the report was generated. If that version corresponds to the current ruleset, this is indicated by "(current)". If it does not, this is indicated by "(outdated: current ruleset is {{ ruleset }})".</p>

<h2>Linking Directly to FAE</h2>

<p>It is now possible to place a link to FAE on a web page that, when selected, causes FAE to evaluate the page and display the resulting Summary Report. The following HTML snippet should be used:</p>

<p><code>&lt;a href="http://{{ site.domain }}/evaluate/link/"&gt;Check with FAE&lt;/a&gt;</code></p>

<h2>Evaluating Dynamic and/or Protected Web Resources</h2>

<p>To analyze pages that do not have static URLs and/or require an account login for access, the <a class="external" href="{% href_lookup firefox_ext %}">Firefox Accessibility Extension</a> is available. It now includes functionality for sending copies of such pages directly to FAE for generating Summary and Page Reports.</p>

<p>In the interest of privacy, any pages that are analyzed by FAE, including those sent by the Accessibility Extension, are immediately deleted once the evaluation reports have been generated.</p>
