{% load humanize %}

<ul class="horizontal-menu">
<li><a href="/about/usage/">Past 7 days</a> | </li>
<li><a href="/about/usage/?span=thismonth">This month</a> | </li>
<li><a href="/about/usage/?span=lastmonth">Last month</a> | </li>
<li><a href="/about/usage/?span=thisyear">This year</a> | </li>
<li><a href="/about/usage/?span=all">All dates</a></li>
</ul>

<table class="stats" cellpadding="0" cellspacing="0">
<tr class="header">
<th>Date</th>
<th>User Reports</th>
<th>User Pages</th>
<th>Guest Reports</th>
<th>Guest Pages</th>
</tr>

{% for record in stats %}
<tr>
<td>{{ record.date }}</td>
<td class="numeric">{{ record.user_reports|intcomma }}</td>
<td class="numeric">{{ record.user_pgcount|intcomma }}</td>
<td class="numeric">{{ record.guest_reports|intcomma }}</td>
<td class="numeric">{{ record.guest_pgcount|intcomma }}</td>
</tr>
{% endfor %}
<tr class="footer">
<th>Totals</th>
<td class="numeric">{{ user_reports|intcomma }}</td>
<td class="numeric">{{ user_pgcount|intcomma }}</td>
<td class="numeric">{{ guest_reports|intcomma }}</td>
<td class="numeric">{{ guest_pgcount|intcomma }}</td>
</tr>
</table>
