<h2>Managers and Administrators of Web Developers</h2>

<p>FAE does not currently provide useful reports for administrators and
managers to understand the accessibility of their web resources, but the
goal of the tool is to provide such reports. Current plans for FAE include
the creation of reports to help managers understand the current state of
implementation of functional web accessibility features and where they
need to direct their development resources in improving accessibility.
Future versions of FAE will provide a history comparision method so
accessibility features can be compared over time and managers can estimate
the functional accessibility of their resources over time. Printable
versions of reports will also be generated for managers to use to document
their current state and history of functional accessibility.</p>

<h2>Web Developers</h2>

<p>Web developers can use FAE reports to look at the presence and absence
of markup that improves functional accessibility. Developers can use the
sitewide and page reports to identify:</p>

<dl>
<dt>Markup that is missing</dt>
<dd>FAE identifies missing markup that would improve functional
accessibility, which is especially prevalent in markup needed for navigation
or the "poster element" for web accessibility: ALT text for images</dd>

<dt>Markup that needs to be changed</dt>
<dd>FAE identifies markup that needs to be changed, for example the use of
inline styling elements to CSS</dd>

<!--
<dt>Markup that might need to be changed</dt>
<dd>FAE identifies markup that potentially needs to be changed, for example
the same link text pointing to two different URLs or the same URL used
multiple times on the same page with different link text</dd>
-->
</dl>

<h2>General Public including People with Disabilities</h2>

<p>People with disabilities can use FAE to identify functional markup
problems with web resources and the reports can be sent to webmasters to
help them better understand accessibility problems.</p>
