{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>

{% if report_list %}
<table cellpadding="0" cellspacing="0" class="archive" summary="Archived Reports Table">
<tr class="row-highlight">
    <th class="archive-0">Perm.</th>
    <th class="archive-1">Report Title</th>
    <th class="archive-2">Date/Time</th>
    <th class="archive-3">Pages</th>
    <th class="archive-4">URL</th>
    <th class="archive-5">Depth</th>
</tr>
{% for report in report_list %}
<tr{% if forloop.counter|divisibleby:"2" %} class="row-highlight"{% endif %}>
<td class="archive-0{% ifequal report.id current_id %} selected{% endifequal %}" style="text-align: center">{% if report.archive %}Y{% endif %}</td>
<td class="archive-1{% ifequal report.id current_id %} selected{% endifequal %}"><a href="{{ report.get_absolute_url }}">{{ report.title }}</a></td>
<td class="archive-2{% ifequal report.id current_id %} selected{% endifequal %}">{{ report.timestamp|date:"Y-m-d H:i"}}</td>
<td class="archive-3{% ifequal report.id current_id %} selected{% endifequal %}">{{ report.pgcount }}</td>
<td class="archive-4{% ifequal report.id current_id %} selected{% endifequal %}">{{ report.url }}{% ifnotequal report.urlcount 1 %} ...{% endifnotequal %}</td>
<td class="archive-5{% ifequal report.id current_id %} selected{% endifequal %}">{{ report.depth }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No reports are currently archived for <strong>{{ username }}</strong>.</p>
{% endif %}

{% endblock %}
