<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
{% block title %}<title>{{ site_name }}: {{ title }}</title>{% endblock %}
<meta name="author" content="Nicholas Hoyt"/>
<meta name="description" content="{{ site }}: {{ title }}"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="/media/css/fae_screen.css" type="text/css"/>
<link rel="stylesheet" href="/media/css/fae_django.css" type="text/css"/>
<link rel="stylesheet" href="/media/css/fae_print.css" type="text/css" media="print"/>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
<!-- FAE v.0.9.4 -->
<!--[if IE]>
<style type="text/css">
#header div.subheader { padding: 0.25em 0 0.5em 0; }
#header div.subheader ul.top-menu { padding-right: 1em; }
</style>
<![endif]-->
{% block javascript %}
<script type="text/javascript" src="/media/js/prototype.js"></script>
<script type="text/javascript">
function getObj(name) {
  if (document.getElementById) {
    return document.getElementById(name);
  }
  if (document.all) {
    return document.all[name];
  }
  if (document.layers) {
    return document.layers[name];
  }
  return null;
}
function addHandlers() {
  var myArray = $$('a.external');
  for (var i = 0; i < myArray.length; ++i) {
    var item = myArray[i];
    item.onclick = function(event) { return launchWindow(this, event); }
    // UAAG requires that user agents handle events in a device-independent manner
    // but only some browsers do this, so add keyboard event to be sure
    item.onkeypress = function(event) { return launchWindow(this, event); }
  }
}
function launchWindow(objAnchor, objEvent) {
  var iKeyCode, bSuccess=false;

  // If the event is from a keyboard, we only want to open the
  // new window if the user requested the link (return or space)
  if (objEvent && objEvent.type == 'keypress')
  {
    if (objEvent.keyCode)
      iKeyCode = objEvent.keyCode;
    else if (objEvent.which)
      iKeyCode = objEvent.which;

    // If not carriage return or space, return true so that the user agent
    // continues to process the action
    if (iKeyCode != 13 && iKeyCode != 32)
      return true;
  }

  bSuccess = window.open(objAnchor.href);

  // If the window did not open, allow the browser to continue the default
  // action of opening in the same window
  if (!bSuccess)
    return true;

  // The window was opened, so stop the browser processing further
  bSuccess.focus()
  return false;
}
function enable(id) {
  var widget = getObj(id);
  widget.disabled = false;
}
function disable(id) {
  var widget = getObj(id);
  widget.disabled = true;
}
</script>
{% endblock %}
</head>
{% block bodytag %}<body>{% endblock %}
<!-- header -->
<div id="header">
<div class="left"><a href="/"><img src="/media/images/fae_logo.gif" alt="fae"/></a></div>
<div class="subtitle"><span class="large">Functional Accessibility Evaluator</span><br />University of Illinois at Urbana-Champaign</div>
<div id="uiuc"><img alt="University of Illinois logo" src="/media/images/uiuc_logo.jpg"/></div>
<div class="subheader">
<h2 class="hidden">Navigation: Utilities</h2>
<ul class="top-menu">
<li><a href="/about/">About FAE</a></li>
{% if user.is_authenticated %}
<li><span class="separator">|</span><a href="/multi/">Multiple URLs</a></li>
<li><span class="separator">|</span><a href="/accounts/profile/">My Account</a></li>
<li><span class="separator">|</span><a href="/accounts/logout/">Log Out</a></li>
{% else %}
<li><span class="separator">|</span><a href="/accounts/register/">Register</a></li>
<li><span class="separator">|</span><a href="/accounts/login/?next=/">Log In</a></li>
{% endif %}
</ul>
</div>
</div>
<!-- sidebar -->
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
<!-- main content -->
<div id="main">
{% block content %}{% endblock %}
</div>
<!-- footer -->
<div id="footer">
<hr />
Copyright &copy; 2005&ndash;{% now "Y" %}, University of Illinois.  All rights reserved.
<span class="separator">|</span><a href="mailto:fae@cita.uiuc.edu">Contact Us</a>
<span class="separator">|</span><a href="http://www.vpaa.uillinois.edu/policies/web_privacy.asp?bch=1">Privacy Policy</a>
<span class="separator">|</span><a href="/about/disclaimer/">Disclaimer</a>
</div>
<!--
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1064834-1";
urchinTracker();
</script>
-->
</body>
</html>
