{% extends "base.html" %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
function initDoc() {
  var url = getElement('id_urls');
  if (url) { url.focus(); }
}
</script>
{% endblock %}

{% block bodytag %}<body onload="initDoc()" onunload="enable('submit')">{% endblock %}

{% block content %}
<style type="text/css">
ul.errorlist { margin: 0 0; padding: 0.5em 1.1em; font-weight: bold }
div.urls label, div.report-title label { color: #039 ; font-weight: bold; font-size: 96% }
</style>

<h1>{{ title }}</h1>
<div>
<p>Use this form to evaluate the functional accessibility of one or more web pages.</p>

<div class="notes">
<ul>
<li>Enter multiple URLs one per line or separated by spaces.</li>
<li>Depth of evaluation for each URL is <em>top-level page only</em>.</li>
</ul>
</div>
</div>

<form action="." method="post" onsubmit="disable('submit')">

<div class="urls">
{% if form.urls.errors %}{{ form.urls.errors }}{% endif %}
{{ form.urls.label_tag }}<br/>{{ form.urls }}
</div>

<div class="report-title" style="padding-top: 1.5em">
{% if form.title.errors %}{{ form.title.errors }}{% endif %}
{{ form.title.label_tag }}<br/>{{ form.title }}
</div>

<div class="submit">
<label title="Evaluate"><input type="submit" id="submit" value="Evaluate"/></label>
</div>

<div>
<input type="hidden" name="mode" value="form"/>
<input type="hidden" name="formid" value="{{ formid }}"/>
</div>

</form>
{% endblock %}
