{% extends "base.html" %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
function initDoc() {
  var url = getElement('id_url');
  if (url) { url.focus(); }
}
</script>
{% endblock %}

{% block bodytag %}<body onload="initDoc()" onunload="enable('submit')">{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div>
<p>Use this form to evaluate the functional accessibility of a single web page.</p>
<p><a href="/accounts/register/">Register for a free user account</a>
to gain access to these additional features:</p>
<ul>
<li>Evaluate multiple pages via web crawling</li>
<li>Generate a Sitewide Report that identifies problem pages</li>
<li>Save reports in an account-specific Archived Reports list</li>
</ul>
</div>

<form action="." method="post" onsubmit="disable('submit')">

<div class="urls">
{% if form.url.errors %}{{ form.url.errors }}{% endif %}
{{ form.url.label_tag }}<br/>{{ form.url }}
</div>

{% if enable_dhtmlget %}
<div class="radio-btns">
{% if form.dhtml.errors %}{{ form.dhtml.errors }}{% endif %}
{{ form.dhtml }} {{ form.dhtml.label_tag }}
</div>
{% endif %}

<div class="submit">
<input type="submit" id="submit" value="Evaluate"/>
</div>

<div>
<input type="hidden" name="formid" value="{{ formid }}"/>
</div>

</form>
{% endblock %}
