{% extends "base.html" %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
function disableRadioButtons(radioGrp, value) {
  for (var i = 0; i < radioGrp.length; i++) {
    radioGrp[i].disabled = value;
  }
}
function getDepth() {
  var radioGrp = document.forms[0].depth;
  for (var i = 0; i < radioGrp.length; i++) {
    if (radioGrp[i].checked) {
      return radioGrp[i].value;
    }
  }
}
function updateSpanButtons() {
  var depth = getDepth();
  var radioGrp = document.forms[0].span;
  if (depth == 0) {
    radioGrp[0].checked = true;
    disableRadioButtons(radioGrp, true);
  }
  else {
    disableRadioButtons(radioGrp, false);
  }
}
function initDoc() {
  var url = getElement('id_url');
  if (url) { url.focus(); }

  var radioGrp = document.forms[0].depth;
  for (var i = 0; i < radioGrp.length; i++) {
    if (document.addEventListener) {
      radioGrp[i].addEventListener("change", updateSpanButtons, false);
    }
    else if (document.attachEvent) {
      radioGrp[i].attachEvent("onclick", updateSpanButtons);
    }
  }
  updateSpanButtons();
}
</script>
{% endblock %}

{% block bodytag %}<body onload="initDoc()" onunload="enable('submit')">{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div>
<p>Use this form to evaluate the functional accessibility of one or more web pages starting at the specified URL. The generated report will be saved in the <a href="/reports/archive/">Archived Reports</a> list. See <a href="/about/">About FAE</a> for more information.</p>
</div>

<form action="." method="post" onsubmit="disable('submit')">

<div class="urls">
{% if form.url.errors %}{{ form.url.errors }}{% endif %}
{{ form.url.label_tag }}<br/>{{ form.url }}
</div>

<div class="report-title" style="padding-top: 1.5em">
{% if form.title.errors %}{{ form.title.errors }}{% endif %}
{{ form.title.label_tag }}<br/>{{ form.title }}
</div>

<div class="radio-btns">
{% if form.depth.errors %}{{ form.depth.errors }}{% endif %}
<fieldset class="radio-btns">
<legend>{{ form.depth.label_tag }}</legend>
{{ form.depth }}
</fieldset>
</div>

<div class="radio-btns">
{% if form.span.errors %}{{ form.span.errors }}{% endif %}
<fieldset class="radio-btns">
<legend>{{ form.span.label_tag }}</legend>
{{ form.span }}
</fieldset>
</div>

{% if enable_dhtmlget %}
<div class="radio-btns">
{% include "dhtml_note.html" %}
{% if form.dhtml.errors %}{{ form.dhtml.errors }}{% endif %}
{{ form.dhtml }} {{ form.dhtml.label_tag }}
</div>
{% endif %}

<div class="submit">
<input type="submit" id="submit" value="Evaluate"/>
</div>

<div>
<input type="hidden" name="formid" value="{{ formid }}"/>
</div>

</form>
{% endblock %}
