{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>

{% if status %}<h2>{{ status }}</h2>{% endif %}

<p>Based on your account type, you may select {{quota}} reports to be permanently archived. <em>Unselected reports will be automatically purged after they are {{days_offset}} days old, with the exception of the last {{buffer}} reports you have created.</em></p>

{% if report_list %}
<form method="POST" action="">
<table cellpadding="0" cellspacing="0" class="archive" summary="Manage Reports Table">
<tr class="row-highlight">
    <th class="archive-0" id="c0">Archive</th>
    <th class="archive-1" id="c1">Date/Time</th>
    <th class="archive-2" id="c2">Pages</th>
    <th class="archive-3" id="c3">Report Title</th>
    <th class="archive-4" id="c4">URL</th>
    <th class="archive-5" id="c4">Depth</th>
</tr>
{% for report, form in archive_info %}
<tr{% if forloop.counter|divisibleby:"2" %} class="row-highlight"{% endif %}>
<!--td class="archive-0" headers="c0"><input type="checkbox"{% if report.archive %} checked="checked"{% endif %}/></td-->
<td class="archive-0" headers="c0">{{ form.archive }}</td>
<td class="archive-1" headers="c1">{{ report.timestamp|date:"Y-m-d H:i" }}</td>
<td class="archive-2" headers="c2">{{ report.pgcount }}</td>
<td class="archive-3" headers="c3">{{ report.title }}</td>
<td class="archive-4" headers="c4">{{ report.url }}{% ifnotequal report.urlcount 1 %} ...{% endifnotequal %}</td>
<td class="archive-5" headers="c5">{{ report.depth }}</td>
</tr>
{% endfor %}
</table>
<input type="submit" value="Update Archive"/>
</form>
{% else %}
<p>No reports are currently archived for <strong>{{ username }}</strong>.</p>
{% endif %}

{% endblock %}
