{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>

{% if status %}<div id="message">{{ status }}</div>{% endif %}

<p><strong>Currently, {{num_archive}} report{{ num_archive|pluralize:" is,s are" }} permanently archived.</strong></p>

<p>Based on your account type, you may select {{quota}} reports to be permanently archived. Unselected reports will be automatically purged after they are {{days_offset}} days old, with the exception of the last {{buffer}} reports you have created.</p>

{% if report_list %}
<form method="POST" action="">
<table cellpadding="0" cellspacing="0" class="archive" summary="Manage Reports Table">
<tr class="row-highlight">
    <th class="archive-0">Archive</th>
    <th class="archive-1">Report Title</th>
    <th class="archive-2">Date/Time</th>
    <th class="archive-3">Pages</th>
    {% if enable_dhtmlget %}
    <th class="archive-4">DHTML</th>
    {% endif %}
    <th class="archive-5">URL</th>
    <th class="archive-6">Depth</th>
</tr>
{% for report, form in archive_info %}
<tr{% if forloop.counter|divisibleby:"2" %} class="row-highlight"{% endif %}>
<td class="archive-0{% ifequal report.id current_id %} selected{% endifequal %}">{{ form.archive }}</td>
<td class="archive-1{% ifequal report.id current_id %} selected{% endifequal %}">{{ report.title }}</td>
<td class="archive-2{% ifequal report.id current_id %} selected{% endifequal %}">{{ report.timestamp|date:"Y-m-d H:i" }}</td>
<td class="archive-3{% ifequal report.id current_id %} selected{% endifequal %}">{{ report.pgcount }}</td>
{% if enable_dhtmlget %}
<td class="archive-4{% ifequal report.id current_id %} selected{% endifequal %}">{% if report.dhtml %}Y{% endif %}</td>
{% endif %}
<td class="archive-5{% ifequal report.id current_id %} selected{% endifequal %}">{{ report.url }}{% ifnotequal report.urlcount 1 %} ...{% endifnotequal %}</td>
<td class="archive-6{% ifequal report.id current_id %} selected{% endifequal %}">{{ report.depth }}</td>
</tr>
{% endfor %}
</table>
<input type="submit" value="Update Archive"/>
</form>
{% else %}
<p>No reports are currently archived for <strong>{{ username }}</strong>.</p>
{% endif %}

{% endblock %}
