{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>

{% if report_list %}
<table cellpadding="0" cellspacing="0" class="archive" summary="Manage Reports Table">
<tr class="row-highlight">
    <th class="archive-0" id="c0">Archive</th>
    <th class="archive-1" id="c1">Date/Time</th>
    <th class="archive-2" id="c2">Pages</th>
    <th class="archive-3" id="c3">Report Title</th>
    <th class="archive-4" id="c4">URL</th>
    <th class="archive-5" id="c4">Depth</th>
</tr>
<form method="POST" action="">
{% for report in report_list %}
<tr{% if forloop.counter|divisibleby:"2" %} class="row-highlight"{% endif %}>
<td class="archive-0{% ifequal report.id current_id %} selected{% endifequal %}" headers="c0"><input type="checkbox"{% if report.archive %} checked="checked"{% endif %}/></td>
<td class="archive-1{% ifequal report.id current_id %} selected{% endifequal %}" headers="c1">{{ report.timestamp|date:"Y-m-d H:i"}}</td>
<td class="archive-2{% ifequal report.id current_id %} selected{% endifequal %}" headers="c2">{{ report.pgcount }}</td>
<td class="archive-3{% ifequal report.id current_id %} selected{% endifequal %}" headers="c3">{{ report.title }}</td>
<td class="archive-4{% ifequal report.id current_id %} selected{% endifequal %}" headers="c4">{{ report.url }}{% ifnotequal report.urlcount 1 %} ...{% endifnotequal %}</td>
<td class="archive-5{% ifequal report.id current_id %} selected{% endifequal %}" headers="c5">{{ report.depth }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No reports are currently archived for <strong>{{ username }}</strong>.</p>
{% endif %}

{% endblock %}
